
  .info_product {
    height:1000px;
    background-size:cover;
    position:relative;
  }
  
  .info_product .info {
    max-width:1500px;
    width:90%;
    height: 800px;
    background-color:#212529;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .info_product .illustration {
    position: relative;
    text-align:center;
    right: 36%;
    padding:15px 0 20px;
    font-size:50px;
    color:#ffff ;
  }
  
  .info_product .info .info-control {
    position: absolute;
    display: block;
    left: 40%;
    width: 670px;
    margin-top: -520px;
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    word-break: break-all ;
  }

    .info_product .info .technical-info-control {
    position: absolute;
    display: block;
    left: 40%;
    width: 670px;
    margin-top: -250px;
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    word-break: break-all ;
  }


  .info_product .info .name-control {
    position: absolute;
    left: 40%;
    text-align: center;
    width: 660px;
    font-size: 40px;
    margin-top: -632px;
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .info_product .info .janr-control {
    position: absolute;
    left: 39.6%;
    width: 660px;
    text-align: center;
    font-size: 25px;
    margin-top: -570px;
    background:none;
    border:none;
    
    outline:none;
    color:inherit;
  }
  .info_product .info .price-control {
    position: absolute;
    text-align: center;
    font-size: 25px;
    left: 11.5%;
    margin-top: -15px;
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    outline:none;
    color:inherit;
  }

  .info_product .info .btn-primary {
    position: relative;
    left: 6%;

    background:black;
    width: 220px;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:50px;
    text-shadow:none;
    outline:none;
  }
    .info_product .info .edit_button {
    position: relative;
    left: 6%;

    background:black;
    width: 220px;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:-7.2vh;
    text-shadow:none;
    outline:none;
    left:40%;
  }
      .info_product .info .delete_button {
    position: relative;
    left: 6%;

    background:black;
    width: 220px;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:-6.3vh;
    text-shadow:none;
    outline:none;
    left:60%;
  }

  .info_product .info .btn-primary:hover, .info_product .info .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  
  .info_product .info .btn-primary:active {
    transform:translateY(1px);
  }

  .pagination {
    width: auto;
    margin: 0 auto

}

.pagination,
.pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination__link {
    position: relative;
    left: -1px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #6163b9
}

@media only screen and (max-width: 767px) {
    .pagination__link {
        font-size: 15px
    }
}

@media only screen and (min-width: 1025px) {
    .pagination a.pagination__link:hover {
        background: rgba(102, 88, 175, .15)
    }
}

.pagination__item {
    transition: all .2s ease-in-out;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: 0 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .pagination__item {
        margin: 0 2px;
        width: 33px;
        height: 33px
    }
}

.pagination__item:first-child {
    margin-left: 0
}

.pagination__item:last-child {
    margin-right: 0
}

@media only screen and (max-width: 1023px) {
    .pagination__item:nth-child(3),
    .pagination__item:nth-child(9) {
        display: none
    }
}

@media only screen and (min-width: 1025px) {
    .pagination__item.active:hover
    .pagination__link {
        color: #fff;
        background: #6658af
    }
}

.pagination__item.active .pagination__link {
    color: #fff;
    background: #6658af
}

.pagination__item--dots .pagination__link {
    color: #bfc0f1
}