.one {
	background: 
	  linear-gradient(27deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), 
	  linear-gradient(207deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), 
	  linear-gradient(27deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), 
	  linear-gradient(207deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), 
	  linear-gradient(90deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), 
	  linear-gradient(180deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, 
		rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, 
		rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19, 19, 19);
	background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
	background-size: 20px 20px;
	transform-origin: 50% 50% 0;
}
.two{
	background-color: #474747;
}
.auth{
	position: relative;
	
	left: 70%;
}
.shop_cart{
	position: relative;
	
	left: 2810%;
}
.p-3{
	position: absolute;
	z-index: 100;
}
.search{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
	opacity: 0.5;

}
.dropdown-item{
	z-index: 1;
}

.shop_cart{
  position: relative;
  right: -550%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    position: relative;
    top: -8vh;
    max-width: 100%;
    max-height: 15%;
}

.bg-footer{
	position: absolute;
	background-color: #212529;
	width: 100%;
	height: 13%;
	border-top: 6px solid black;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

.product {
	display: block;
	position: relative;
	top: -80px;
	width: 350px;
	margin: 0 20px 20px 135px;
	text-decoration: none;
	color: #474747;
	height: 495px;
	border-radius: 3%;  
    border: 6px solid black; 
}

.products {
	list-style: none;
	padding-right: 300px;
}

.product-photo {
	position: relative;
	padding-bottom: 143.25%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
	border-radius: 2.2%;  
    border: 1px; 
	
}

.product:hover .product-photo img {
	transform: scale(1.02);
}


.button-buy {
	position: absolute;
	top: 40%;
	left: 39%;
	width: 29%;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	border: 2px solid white;
	border-radius: 3px;
}

.button-detail{
	position: absolute;
	top: 65%;
	left: 39%;
	width: 29%;

	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	border: 2px solid white;
	border-radius: 3px;
}

.price{
	position: absolute;
	top: 22%;
	left: 39%;
	width: 29%;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	border-radius: 3px;
}
.product_title{

}
.inform-product{
	position: absolute;
	display: none;
	background-color: black;
	top: 60.4%;
	width: 100.3%;
	height: 41%;
	opacity: .8;
	border: 1px;
	border-radius: 2%;
	
}

.product:hover .inform-product{
  display:block;
  
}



.nav-bar-main{
	display: block;
	position: relative;
	top: -166px;
	border-top: 6px solid black;
	border-bottom: 6px solid black;
}
.nav-main{
	position: absolute;
	left: 50%;
    transform: translate(-50%);
	
}

#navbar {
    position: fixed; /* Make it stick/fixed */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
	left: 50%;
    transform: translate(-50%);
}
.nav-center{
	transform: translate(860%);
}

.pullUp{
	animation-name: pullUp;
	-webkit-animation-name: pullUp;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 		
}

@keyframes pullUp {
	0% {
		transform: scaleY(0.1);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullUp {
	0% {
		-webkit-transform: scaleY(0.1);
	}	

	100% {
		-webkit-transform: scaleY(1);
	}		
}

 
 /* Код самой анимации. */
 
 @keyframes move {
	from {
	   transform: translateX(0);
	}
	to {
	   transform: translateX(100px);
	}
 }
 
 @-moz-keyframes move {
	from {
	   -moz-transform: translateX(0);
	}
	to {
	   -moz-transform: translateX(100px);
	}
 }
 
 @-webkit-keyframes move {
	from {
	   -webkit-transform: translateX(0);
	}
	to {
	   -webkit-transform: translateX(100px);
	}
 }

@media screen and (max-width:800px) {
  .search{
    width: 25%;
    top: 1.8%;
    left: 44%;
}
.slideshow-container {
  top: -10vh;
}
.auth{
  position: relative;
  top: -4px;
  left: 5%;
}
.shop_cart{
  position: relative;
  right: -560%;
  top: -4px;
}
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 80%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 23.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}