{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<div class="login-dark">
    <form method="post" action="">
        {% csrf_token %}
        <div class="illustration">Заполните данные</div>
        <div class="form-group"><input class="form-control hide"  name="title"   value="{{object.title}}" readonly ></div>
        <div class="form-group"><input class="form-control hide"  name="key"     value="{{object.key}}" readonly></div>

        <div class="form-group"><input class="form-control" type="text" name="card_number" placeholder="Номер карты" autofocus ></div>
        <div class="form-group"><input class="form-control" type="text" name="card_date" placeholder="Дата"> </div>
        <div class="form-group"><input class="form-control" type="text" name="card_cvc" placeholder="CVC"> </div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Купить</button></div><i class="forgot">*примерная покупка товара</i>
    </form>
</div>
{% endblock %}