<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@200&family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/info.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Kojima Shop</title>
</head>
<body class="one">
  <div class="p-3 header">
    <div class="container" id="navbar">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="picture/_Kojima Shop.svg" class="bi" width="80" height="80" alt="">
          </a>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search" role="search">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>
          <a href="#">
            <img src="picture/-shopping-cart_90604.png" alt="" height="40px" class="shop_cart">
          </a>
          <div class="text-end auth">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
          </div>
        </div>
    </div>
  </div>
  <div class="info_product">
    <form>
        <div class="illustration"><img src="picture/codmw2.jpg" width="400" height="600" alt=""></div>
        <div class="form-group"> <div class="name-control">CALL OF DUTY MODERN WARFARE 2</div></div>
        <div class="form-group"> <div class="janr-control">ШУТЕР</div></div>
        <div class="form-group"> <div class="info-control"> мультиплатформенная компьютерная игра, в жанре шутера от первого лица, разработанная американской компанией Infinity Ward и изданная Activision. Игра является шестой в серии Call of Duty. Проект официально анонсирован 11 февраля 2009 года. Выход игры состоялся 10 ноября 2009 года на PlayStation 3, Xbox 360 и PC. В России весь тираж игры для консолей был задержан из-за ставшей скандально известной вырезанной миссии «Ни слова по-русски», и игра вышла только на персональном компьютере. 12 ноября 2009 года игра стала доступна для активации для купивших её через интернет-сервис цифровой дистрибуции Steam.

          В первый же день продаж было реализовано более 4 700 000 копий игры. Таким образом, она установила новый мировой суточный рекорд продаж и оставила позади предыдущего лидера — Grand Theft Auto IV[13]. Спустя почти год, 9 ноября 2010 года, новый мировой рекорд суточных продаж был установлен продолжателем серии Call of Duty: Black Ops с результатом 5 600 000 проданных копий игры в первый день продаж[14].</div></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Купить</button></div>
    </form>

  </div>
  
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 bg-footer">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="picture/_Kojima Shop.svg" class="bi" width="80" height="80" alt="">
      </a>
      <span class="text-muted">&copy; 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><img src="picture/TWITTER_icon-icons.com_65486.svg" class="bi" width="55" height="55" alt=""></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img src="picture/Vk.com_icon-icons.com_55781.svg" class="bi" width="55" height="55" alt=""></a></li>
    </ul>
  </footer> 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>
</html>
