{% extends 'base.html' %}
{% load static %}
{% block content %}




  <div class="personal_acc">
    <div class="personal_info">
        <div class="form-group"> <div class="name-control">ЛИЧНЫЙ КАБИНЕТ</div></div>
        <div class="form-group">
          <ul class="info-control-2">
              {% for purchased_products in user.purchased_products_set.all %}

                    <li class="info-item">
                      <div>
                          {{ purchased_products.title }} <i style="margin-left: 400px;">Ключ: {{ purchased_products.key}} </i>
                      </div>
                    </li>

              {% endfor %}
          </ul>
        </div>
    </div>
  </div>

{% endblock content %}