{% extends 'base.html' %}
{% load static %}
{% block content %}




  <div class="personal_acc">
    <div class="personal_info">
        <div class="form-group"> <div class="name-control">ЛИЧНЫЙ КАБИНЕТ</div></div>
        <div class="form-group">
          <ul class="info-control-2" >
            <li class="info-item">
              <div>
                  {{ object.title }} <i style="margin-left: 400px;">Ключ: {{ object.key }} </i>
              </div>
            </li>
            <li class="info-item">
              <div>
                  Terraria <i style="margin-left: 400px;">Ключ: </i>
              </div>
            </li>

          </ul>
        </div>
    </div>
  </div>

{% endblock content %}